.fondo{
  background-image: url(https://i.pinimg.com/736x/ac/95/ff/ac95ffa91025ca875854caf5e179bf38.jpg);
}
.example-card {
  max-width: 600px;
}
.example-card1 {
  border-radius: 20px;
}
#ima{
  border-radius: 800px;
  width: 190px;
  height: 170px;;
}
mat-toolbar{
  background-color: transparent;
  position: fixed;
}
